/* layout */
#network-title {
    color: #38a8e4;
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
}

#network-title:hover {
    text-decoration: none;
}

.pagination-button {
    width: 90px;           
    color: #38a8e4;
    border: solid #38a8e4 2px; 
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    background-color: white; 
    margin: 10px;  
}

.pagination-button:hover {
    color: white;
    background-color: #38a8e4;
}


/* index*/
.form-post {
    border: solid #38a8e4 1px; 
    border-radius: 25px;
    padding: 10px;          
    width: 30%;             
    box-sizing: border-box; 
}

.form-post textarea {
    width: 100%;
    border: none;          
    outline: none;         
    resize: none;          
    box-shadow: none;            
}

#post-button {
    display: block;
    width: auto;           
    color: #38a8e4;
    border: solid #38a8e4 2px; 
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    background-color: white; 
    margin-top: 10px;   
}

#post-button:hover {
    color: white;
    background-color: #38a8e4;
}

/* index/post-div*/
#view-posts {
    margin-top: 10px;
}

/* userpage */
#follow-button {
    color: #38a8e4;
    border: solid #38a8e4 2px; 
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    background-color: white;
    outline: none;
}

#follow-button:hover {
    color: white;
    background-color: #38a8e4;
}

.profile-text {
    font-size: 13px;
    color: gray;
}

.follow-stats-row {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.user-stats {
    display: flex; 
    gap: 10px;
}

.user-stats p {
    margin: 0;
    padding: 0;
}

/* posts.js */
.all-posts {
    border: solid gray 1px; 
    border-radius: 25px;
    margin: 10px;
    padding: 10px;          
    width: 40%;             
    box-sizing: border-box; 
}

.text-username{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.text-username:hover {
    color:#38a8e4;
}

.text-content {
    font-size: 22px;
}

.text-bottom-profile {
    font-size: 13px;
    color: gray;
}

.edit-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px; 
    height: 40px;
}

.edit-icon:hover {
    filter: brightness(0.8);
}

#edit-button {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.save-button {
    font-size: 16px;
    display: block;
    width: auto;           
    color: #38a8e4;
    border: solid #38a8e4 2px; 
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    background-color: white;   
}

.save-button:hover {
    color: white;
    background-color: #38a8e4;
}

.textarea-edit {
    width: 100%;
    border: none;          
    outline: none;         
    resize: none;          
    box-shadow: none; 
}

.likes-container {
    display: flex;
    width: 50%;
    border-top: 1px solid lightgrey; 
    border-bottom: 1px solid lightgrey; 
    padding: 5px;
    margin-bottom: 10px;
    align-items: center; 
    gap: 5px;
}

.likes-container p {
    margin: 0; 
    line-height: 1.5; 
}

.like-button {
    font-weight: bold;
    color: #38a8e4;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
}

.like-button:hover {
    filter: brightness(0.8);
}

.like-button:focus {
    outline: none;
}