{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit - {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit - {{ title }}</h1>
        
    <form action="{% url 'edit_page' page_name=title %}" method="post">
        {% csrf_token %}
        <textarea name="content" rows="20" cols="10" style="height:200px; margin-top: 50px;">{{ content }}</textarea>
        <br>
        <input type="submit" value="Save" class="btn btn-primary mt-4">
    </form>
    {% if error_message %}
        <div class="mt-4">
            <p style="color: red;">{{ error_message }}</p>
        </div>
    {% endif %}
{% endblock %}