{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-fluid">
        <h2>Active Listings</h2>

        <div class="mt-3">
            {% for listing in listings %}
                <div class="listing-container">
                    <a href="{% url 'show_listing' listing.pk %}">
                        <div class="img-container">
                            <img src="{{ listing.photo_url }}" alt="{{ listing.title }}" class="listing-image">
                        </div>
                        <div class="listing-details">
                            <div class="listing-title">{{ listing.title }}</div>
                            <p class="price">Price: ${{ listing.price }}</p>
                            <p>{{ listing.description }}</p>
                            <p class="lst_create_date">Created: {{ listing.create_time }}</p>
                        </div>
                    </a>
                </div>
            {% empty %}
                <p>No listings available.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}