textarea {
    min-height: 400px;
}

.inbox-mails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.inbox-mails:hover {
    background-color: #f0f0f0;
}

.white-bg {
    background-color: white;
}

.gray-bg {
    background-color: lightgray;
}

.left-content {
    display: flex; 
    flex-direction: row;
    flex: 1;
    gap: 30px;
}

.timestamp {
    margin-left: auto;
    color: gray;
}

.inbox-mails p {
    margin: 0; 
    padding: 0; 
}

.email-link {
    display: flex;
    color:inherit;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.email-link:hover {
    background-color: transparent;
    color:inherit;
    text-decoration: inherit;
}

